header .conteiner {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.headerLogo {
    margin-left: 20px;
    max-width: 150px;
    height: auto;
}

.conteiner nav {
    display: flex;
    gap: 30px;
    font-size: 22px;
    justify-content: center;
    flex-wrap: wrap;
}

.conteiner nav p a {
    color: #1351d8;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.conteiner nav p a:hover {
    border-bottom: #1351d8 solid 2px;
    background-color: rgba(19, 81, 216, 0.1);
}
@media screen and (max-width: 805px) {
    header .conteiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 10px; /* Reduz o padding lateral */
    }
    header .conteiner nav {
        gap: 15px; /* Diminui o gap entre os links */
        font-size: 20px; /* Diminui um pouco a fonte */
        justify-content: center; /* Garante a centralização */
    }
    .headerLogo{
        margin: 0 auto 10px auto; /* Centraliza o logo e dá uma margem inferior */
        max-width: 130px; /* Pode diminuir o logo um pouco */
    }
}
@media screen and (max-width:331px){
    header .conteiner nav {
        display: flex;
        flex-direction: column;
    }
}